<h2> Olá {{ name }} </h2>
<h3>
  Seja bem-vindo ao {{delivery_name}}
</h3>
<p>
  Para criar uma nova senha clique nesse link: {{url}}
</p>
<p>
  Caso você não tenha solicitado usuário em nossa plataforma, por favor ignore esse e-mail
</p>
<p>
  Att, {{delivery_name}}
</p>
