<h2> Olá {{ name }} </h2>
<h3>
  Calma que você já vai alterar sua senha!
</h3>
<p>
  Para recuperar a senha acessa esse link: {{url}}
</p>
<p>
  Caso você não tenha solicitado a alteração de senha ignore esse e-mail
</p>
<p>
  Att, {{delivery_name}}
</p>
